.signup-container {
  color: white;
  
}

.signup-content {
  max-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

.signup-form {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background-color: rgba(75, 85, 99, 0.4);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
}

.signup-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.signup-input-group {
  margin-bottom: 20px;
}

.signup-input-icon {
  display: flex;
  align-items: center;
}

.signup-input-icon svg {
  margin-right: 10px;
}

.signup-input-icon input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  background-color: rgba(75, 85, 99, 0.5);
  color: white;
  border: none;
  outline: none;
}

.signup-button {
  width: 100%;
  padding: 10px;

  background-color: transparent;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  transition: background-color 0.3s;
  border: 2px solid white;
}

.signup-button:hover {
  background-color: rgba(82, 92, 235, 0.5);
}

.signup-error {
  color: #ef4444;
  font-size: 0.875rem;
  margin-bottom: 10px;
}

.signup-login {
  margin-top: 15px;
  text-align: center;
}

.signup-login p {
  color: #ffffff;
}

.signup-login a {
  color: #60a5fa;
  text-decoration: none;
  font-weight: bold;
}

.signup-signup a:hover {
  text-decoration: underline;
}
